$c-blue-d: #182e4b;
$c-green: #66d795;
$c-pink: #f05538;
$c-peach: #FFDBC7;
$c-grey-l: #ebebeb;
$c-grey-m: #8c8a8a;
$c-grey-d: #242221;
$c-white: #FFFFFF;

@import url('https://fonts.googleapis.com/css?family=Roboto:300,500,900');

// ==================================================
// Mixins

@mixin transition($which: all, $time: 1s, $how: ease-in-out){
	-webkit-transition: $which $time $how;
	-moz-transition: $which $time $how;
	-ms-transition: $which $time $how;
	-o-transition: $which $time $how;
	transition: $which $time $how;
}

@mixin gradient-bg($left, $right: darken($left, 25%)){
	background: $left; // backup
	background: -webkit-linear-gradient($left, $right);
	background: -o-linear-gradient($left, $right);
	background: -moz-linear-gradient($left, $right);
	background: linear-gradient($left, $right);
}

// ==================================================
// Layout & Resets

body{
	background: $c-peach;
	background-size: cover;
	font-family: Roboto, sans-serif;
	font-weight: 500;
	color: $c-blue-d;
}

h1, h2, h3, h4, h5, h6, label, input, select, option, textarea{
	font-family: Roboto, sans-serif;
	font-weight: 300;
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

label,
input,
select{
	display: block;
	margin-bottom: .5em;
}


// ==================================================
// List Page

.list-maker.accord{
	width: 85%;
	margin: 1em auto;
	display: flex;

	& > div{
		flex-basis: 30%;
		background: $c-white;
		border: 8px solid $c-blue-d;
		margin: .25em;
		padding: .25em;
	}
}

li.item{
	width: 100%;
	display: flex;
	justify-content: stretch;

	img{
		width: 30px;
		height: auto;
	}
}


// ==================================================
// Store Order List

.store-list-item-enter{
	transform: translateX(-120%);
	@include transition($time: 0.5s);
	max-height: 0;
	padding: 0;

	&.store-list-item-enter-active{
		transform: translateX(0);
		max-height: 60px;
		padding: 2em;
	}
}

.store-list-item-exit{
	transform: translateX(0);
	@include transition($time: 0.5s);
	max-height: 60px;

	&.store-list-item-exit-active{
		transform: translateX(120%);
		max-height: 0;
		padding: 0;
	}
}