$c-blue-d: #182e4b;
$c-green: #66d795;
$c-pink: #f05538;
$c-peach: #FFDBC7;
$c-grey-l: #ebebeb;
$c-grey-m: #8c8a8a;
$c-grey-d: #242221;
$c-white: #FFFFFF;

@import url('https://fonts.googleapis.com/css?family=Roboto:300,500,900');

// ==================================================
// Mixins

@mixin transition($which: all, $time: 1s, $how: ease-in-out){
	-webkit-transition: $which $time $how;
	-moz-transition: $which $time $how;
	-ms-transition: $which $time $how;
	-o-transition: $which $time $how;
	transition: $which $time $how;
}

@mixin gradient-bg($left, $right: darken($left, 25%)){
	background: $left; // backup
	background: -webkit-linear-gradient($left, $right);
	background: -o-linear-gradient($left, $right);
	background: -moz-linear-gradient($left, $right);
	background: linear-gradient($left, $right);
}

// ==================================================
// Layout & Resets

body{
	font-family: Roboto, sans-serif;
	font-weight: 500;
	color: $c-blue-d;
}

h1, h2, h3, h4, h5, h6, label, input, select, option, textarea{
	font-family: Roboto, sans-serif;
	font-weight: 300;
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

label,
input,
select{
	display: block;
	margin-bottom: .5em;
}

#main{
	position: relative;
}


// ==================================================
// List Page

.list-maker.accord{
	width: 90%;
	margin: 1em auto;
	padding: .5em;
	display: flex;
	z-index:0;
	overflow-x: hidden;
	min-height: 85vh;

	& > div{
		flex-basis: 50%;
		background: $c-white;
		border: 8px solid $c-blue-d;
		margin: .25em;
		padding: .25em;
	}
}

@media screen and (max-width: 490px) {
	.list-maker.accord{
		flex-wrap: wrap;
		flex-direction: row-reverse;

		& > div{
			flex-basis: 100%;
		}

		.store-list{
			order: -1;
		}
	}
	
}

li.item{
	width: 100%;
	display: flex;
	justify-content: stretch;

	img{
		width: 30px;
		height: auto;
	}
}


// ==================================================
// Store Added Items List

.store-list-item-enter{
	transform: translateX(-120%);
	@include transition($time: 0.5s);
	max-height: 0;
	padding: 0;

	&.store-list-item-enter-active{
		transform: translateX(0);
		max-height: 60px;
		padding: 2em;
	}
}

.store-list-item-exit{
	transform: translateX(0);
	@include transition($time: 0.5s);
	max-height: 60px;

	&.store-list-item-exit-active{
		transform: translateX(120%);
		max-height: 0;
		padding: 0;
	}
}



// ==================================================
// Store Items Edit Panel 

// Drawer off screen until toggled open
#drawer{
	padding: 1em;
	background: opacify($c-white, .96);
	z-index: 1;
	top: 0;
	
	// Hidden until toggled open
	position: fixed;
	overflow: hidden;
	right: -10em;
	width: 0;
}

// Position of open/close toggle and label
%toggleposition{
	position: absolute;
	bottom: 1em;
	right: .25em;
	width: 50px;
	height: 50px;
}

#drawer-toggle{
	@extend %toggleposition;
	z-index: 2;

	&:checked{
		bottom: auto;
		top: 1em;
	}

	// Overlay when drawer open
	&:checked ~ label[for="drawer-toggle"]{
		height: 100%;
		width: 100%;
		background: transparentize(black, .5);
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}

	// Open drawer
	&:checked ~ #drawer{
		position: absolute;
		left: 3em;
		right: 0;
		width: auto;
	}
}

label[for="drawer-toggle"]{
	@extend %toggleposition;
	z-index: 0;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	// Label
	// &:before{
	// 	content: 'Edit Items';
	// 	display: block;
	// 	transform: rotate(-90deg);
	// }

}


// ==================================================
// Back Button
.back-button{
	position: absolute;
	bottom: calc(2em + 70px);
	right: .25em;
	width: 50px;
	height: 50px;
}
