@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,500,900");
@import url("https://fonts.googleapis.com/css?family=Satisfy");
html {
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23ef9594' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E"); }

body {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  color: #0b421a; }

h1, h2, h3, h4, h5, h6, p, label, input, select, option, textarea {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  line-height: 1.2;
  padding-bottom: .25em; }

h4, h5, h6 {
  font-weight: 500; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

label,
input,
select {
  display: block;
  margin-bottom: .5em; }

.fancy, .extra-fancy {
  color: #BB3A3E;
  font-family: Satisfy;
  font-weight: bold;
  font-size: 1.25em; }

.extra-fancy {
  font-size: 1.5em;
  text-decoration: underline;
  vertical-align: text-top;
  padding: .1em; }

#main {
  position: relative;
  min-width: 450px; }

.center {
  text-align: center; }

.strike {
  text-decoration: line-through; }

.store-chooser {
  width: 85%;
  min-height: 85vh;
  margin: 2em auto;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .store-chooser h1 {
    font-size: 2.6em;
    font-weight: 100; }
  .store-chooser .stores-list {
    padding: .5em; }
  .store-chooser button {
    padding: .75em;
    margin: .25em;
    border-radius: 5px;
    border: 4px solid #E02B31;
    background: #E02B31;
    color: #FFFFFF; }
    .store-chooser button:hover {
      background: #FFFFFF;
      color: #E02B31;
      -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); }

.list-maker.accord {
  width: 90%;
  margin: 1em auto;
  padding: .5em;
  display: flex;
  z-index: 0;
  overflow-x: hidden;
  min-height: 85vh; }
  .list-maker.accord > div {
    flex-basis: 50%;
    background: #FFFFFF;
    border: 8px solid #BB3A3E;
    margin: .25em;
    padding: .25em; }

@media screen and (max-width: 490px) {
  .list-maker.accord {
    flex-wrap: wrap;
    flex-direction: row-reverse; }
    .list-maker.accord > div {
      flex-basis: 100%; }
    .list-maker.accord .store-list {
      order: -1; } }
li.item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  li.item .add-item-button {
    flex-grow: 1;
    flex-shrink: 0;
    background-color: transparent;
    background-position: center;
    background-size: cover;
    height: 110px;
    width: 110px;
    margin: .65em;
    border: none;
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); }
    li.item .add-item-button > div {
      display: inline;
      color: #FFFFFF;
      background: #ef9594;
      border: 4px solid #ef9594;
      border-radius: 100%;
      padding: .4em .5em;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
      box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6); }
    li.item .add-item-button:hover {
      border: 2px solid #14675e; }
      li.item .add-item-button:hover > div {
        background: #14675e;
        border-color: #14675e; }
    li.item .add-item-button:active {
      border: 2px solid #14675e; }
      li.item .add-item-button:active > div {
        background: #14675e;
        border-color: #14675e;
        padding: 3.5em 3.6em; }
  li.item .item-desc {
    padding: .5em;
    flex-basis: 65%; }

.store-list-item-enter {
  transform: translateX(-120%);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  max-height: 0;
  padding: 0; }
  .store-list-item-enter.store-list-item-enter-active {
    transform: translateX(0);
    max-height: 60px;
    padding: 2em; }

.store-list-item-exit {
  transform: translateX(0);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  max-height: 60px; }
  .store-list-item-exit.store-list-item-exit-active {
    transform: translateX(120%);
    max-height: 0;
    padding: 0; }

.store-list h2 {
  font-size: 1.5em;
  font-weight: 100; }
.store-list .total {
  margin: 1em .25em;
  padding: 1em .25em; }

.store-list-item {
  margin: 1em .25em;
  padding: 1em .25em;
  border-top: 2px solid #d7cfc4; }
  .store-list-item:first-of-type {
    margin-top: .5em; }
  .store-list-item:last-of-type {
    border-bottom: 2px solid #d7cfc4; }

.store-list-actions {
  display: flex; }
  .store-list-actions > div, .store-list-actions > button {
    padding: .75em;
    flex-basis: 15%;
    margin: 5px;
    text-align: center; }
  .store-list-actions > div {
    border: 2px solid #E02B31; }
  .store-list-actions > button {
    border: 2px solid #E02B31;
    background: #E02B31;
    color: #FFFFFF; }
    .store-list-actions > button:hover {
      background: #BB3A3E;
      -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); }
    .store-list-actions > button:active {
      background: #14675e;
      border-color: #14675e;
      -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); }

.store-item-title {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .store-item-title .img-wrap {
    flex-basis: 20%; }
    .store-item-title .img-wrap img {
      width: 100%;
      height: auto; }

#drawer {
  padding: .25em;
  background: white;
  z-index: 1;
  top: 0;
  position: fixed;
  overflow: hidden;
  right: -10em;
  width: 0; }
  #drawer h3 {
    color: #14675e;
    font-size: 1.6em;
    padding: .5em; }
  #drawer button {
    align-self: center;
    color: #FFFFFF;
    background: #C9DCD1;
    border: 3px solid #C9DCD1;
    padding: .75em;
    border-radius: 8px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    #drawer button:hover {
      border-color: #0b421a;
      color: #0b421a;
      -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); }
  #drawer .add-item-form, #drawer .edit-item-form {
    display: flex;
    flex-wrap: wrap;
    margin: .5em;
    padding: .5em; }
    #drawer .add-item-form label, #drawer .edit-item-form label {
      flex-basis: 40%;
      color: #0b421a;
      margin: .2em; }
    #drawer .add-item-form input, #drawer .edit-item-form input, #drawer .add-item-form select, #drawer .edit-item-form select {
      margin-top: .5em;
      border: 0;
      border-bottom: 2px solid #b2adaa;
      color: #b2adaa;
      font-weight: 500; }
      #drawer .add-item-form input:active, #drawer .edit-item-form input:active, #drawer .add-item-form input:focus, #drawer .edit-item-form input:focus, #drawer .add-item-form select:active, #drawer .edit-item-form select:active, #drawer .add-item-form select:focus, #drawer .edit-item-form select:focus {
        color: #14675e;
        border-color: #14675e; }
  #drawer .add-item-form {
    padding: 1em;
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); }
  #drawer .div-row {
    margin-bottom: 2.5em;
    margin-left: .7em;
    padding: 0;
    border: 1px solid #C9DCD1;
    width: 85%;
    position: relative; }
    #drawer .div-row button.deleter {
      position: absolute;
      padding: 0;
      right: 0;
      top: -1.3em;
      bottom: -1em;
      background: #ef9594;
      color: #FFFFFF;
      border: 2px solid #ef9594;
      border-radius: 100%;
      width: 45px;
      height: 45px;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out; }
      #drawer .div-row button.deleter:hover {
        background: #E02B31;
        -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); }
  #drawer .preload {
    text-align: center;
    padding: 1em;
    margin-bottom: 2em; }

#drawer-toggle, label[for="drawer-toggle"]::before, .back-button {
  background: #FFFFFF;
  color: #cc935d;
  border: 3px solid #DEBA97;
  text-align: center;
  width: 50px;
  height: 50px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  #drawer-toggle:hover, label[for="drawer-toggle"]:hover::before, .back-button:hover {
    border-color: #C9DCD1;
    color: #C9DCD1; }

#drawer-toggle, label[for="drawer-toggle"], label[for="drawer-toggle"]::before {
  position: sticky;
  left: calc(100% - .25em);
  bottom: 1em;
  width: 50px;
  height: 50px; }

#drawer-toggle {
  opacity: 0; }
  #drawer-toggle:checked {
    position: fixed;
    bottom: auto;
    top: 1.2em;
    left: calc(100% - 55px); }
  #drawer-toggle:checked ~ label[for="drawer-toggle"] {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
  #drawer-toggle:checked ~ label[for="drawer-toggle"]::before {
    content: "\2714";
    position: absolute;
    top: 1em;
    left: .5em; }
  #drawer-toggle:checked ~ #drawer {
    position: absolute;
    left: 7em;
    right: 0;
    width: auto; }
    @media screen and (max-width: 680px) {
      #drawer-toggle:checked ~ #drawer {
        left: 6em; } }

label[for="drawer-toggle"] {
  z-index: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

label[for="drawer-toggle"]::before {
  content: "\270D";
  font-size: 2.5em;
  padding: 0 .2em;
  margin-top: -33px;
  z-index: 4; }

.back-button {
  position: sticky;
  left: calc(100% - .25em);
  bottom: calc(2em + 70px); }

/*# sourceMappingURL=style.css.map */
