
// ==================================================
// Layout

body{
	background: url('/images/bgtexture.jpg') center;
	background-size: cover;
}

label,
input,
select{
	display: block;
	margin-bottom: .5em;
}


// ==================================================
// List Page

.list-maker.accord{
	width: 85%;
	margin: 1em auto;
	display: flex;

	& > div{
		flex-basis: 30%;
	}
}

li.item{
	list-style: none;
	width: 100%;
	display: flex;
	justify-content: space-between;

	img{
		width: 30px;
		height: auto;
	}
}